USE [master]
GO
/****** Object:  Database [WebApiSample]    Script Date: 1.11.2024 17:01:36 ******/
CREATE DATABASE [WebApiSample]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebApiSample', FILENAME = N'D:\DefaultSQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\WebApiSample.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebApiSample_log', FILENAME = N'D:\DefaultSQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\WebApiSample_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebApiSample].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebApiSample]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 1.11.2024 17:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Stock]) VALUES (1, N'Laptop', N'High-performance laptop for gaming and work', CAST(1500.00 AS Decimal(18, 2)), 25)
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Stock]) VALUES (2, N'Smartphone', N'Latest model with cutting-edge features', CAST(799.99 AS Decimal(18, 2)), 50)
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Stock]) VALUES (3, N'Headphones', N'Noise-cancelling over-ear headphones', CAST(199.99 AS Decimal(18, 2)), 100)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
USE [master]
GO
